
.header {
  grid-column: sidebar-start / full-end;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background:
      radial-gradient(circle at 5px 5px,
        rgba(grey, .1) 1.7px,
        transparent 1.7px,
        transparent 10px) 0 0 / 8px 8px;
  // border-bottom: 5px solid black;
  // border: 1.5rem solid $color-bg;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 4px;
    background-color: black;
  }

  &__main {
    font-family: $font-logo;
    font-size: 6.5rem;
    font-weight: 100;
    letter-spacing: -1px;
    word-spacing: -10px;
    color: black;
  }
  &__date {
    font-family: $font-italic;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    word-spacing: 2px;
    color: $color-text;
  }
}
