
.sidebar__wrapper {

}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / 4;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  border-right: 1px solid $color-border;
  margin: 2.5rem 0;

  &__list {
    list-style: none;

    & li:nth-last-child(-n+2) a {
      // font-size: 1.5rem;
      font-size: .75vw;
      text-transform: uppercase;
      font-weight: 300;
      
      &:hover {
        text-decoration: line-through;
      }
    }
    & li:nth-last-child(-n+2) svg {
      width: 20px;
    }

  }
  &__item {
    margin-left: 2rem;
    margin-top: 3rem;

    &:nth-of-type(6) {
      // margin-top: 10rem;
      margin-top: 10vw;
    }

  }
  &__link:link,
  &__link:visited {
    color: $color-text;
    text-decoration: none;
    display: block;
    font-family: $font-subtitle;
    // font-size: 2.5rem;
    font-size: 1.25vw;

    display: flex;
    align-items: center;

    & svg {
      // width: 32px;
      width: 1.75vw;
      margin-left: 5px;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 1.4vw;
    }
  }

  &__item:not(:first-child) a svg {
    display: none;
  }

  &__item:first-child a svg {
    display: inline-block;
  }

  &__item.active a svg {
    display: inline-block;
  }



  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    &-link:link,
    &-link:visited {
      color: $color-text;
      text-decoration: none;
      display: block;
      font-family: $font-subtitle;
      // font-size: 1.9rem;
      font-size: 1vw;
      margin-bottom: 1rem;
      
      &:last-child {
        margin-bottom: 3rem;
      }   
      
    }

    &-link--2 {
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: $color-text;
        margin-right: 1rem;

        @media only screen and (max-width: $breakpoint-medium) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  &__article {
    font-size: 1.2rem;
  }
}


