
@import "variables";

.container__article-1 {
  background-color: $color-bg;
  padding: 3rem;
  padding-bottom: 0;

  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));
  grid-template-rows: repeat(26, 9vw);

  grid-auto-columns: minmax(min-content, 1fr);
  grid-auto-rows: 9vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  grid-auto-flow: dense;
}


.article1 {
  &__img-box {
    grid-row: 1 / 5;
    grid-column: 1 / -1;
  }
  &__img {
    height: 65vh;
    width: 100%;
    display: block;
    object-fit: cover;
    filter: grayscale(1);

    @media only screen and (max-width: $breakpoint-medium) {
      height: 70vh;
    }
  }

  &__title-content--wrapper {
    display: flex;
  }
  &__title-box {
    grid-column: 1 / span 4;
    grid-row: 5 / span 2;
    padding-top: 2rem;
    flex: 0 0 55%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    color: $color-text;
    // font-size: 12rem;
    font-size: 5vw;
    font-family: $font-title;
    // line-height: 9rem;
    line-height: 4.2vw;
    font-weight: 700;

    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 5.6vw;
      line-height: 4.5vw;
    }
  }
  &__subtitle {
    color: $color-text;
    // font-size: 3.3rem;
    font-size: 1.6vw;
    font-family: $font-title;
    margin-bottom: -.5rem;

    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 1.7vw;
    }
  }

  &__content-box--right {
    grid-column: 5 / -1;
    padding-top: 2rem;
  }
  &__content--right {
    color: $color-text;
    font-family: $font-subtitle;
    // font-size: 2.2rem;
    font-size: 1.16vw;

    text-justify: inter-word;
    text-align: justify;

    &:last-child {
      margin-top: 4.9rem;
    } 
  }



  &__content-box--main {
    grid-column: 2 / span 5;
    margin: 15rem 35rem 0 35rem;
    padding-top: 7rem;
    border-top: 1px solid $color-border;

    & p:last-of-type {
      border-bottom: 1px solid $color-border;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      margin: 15rem 20rem 0 20rem;
    }
  }
  &__content--main {
    color: $color-text;
    font-family: $font-subtitle;
    font-size: 2.2rem;
    padding-bottom: 5rem;

    text-justify: inter-word;
    text-align: justify;

    @media only screen and (max-width: $breakpoint-large) {
      font-size: 2rem;
    }

    &-list {
      position: relative;
      padding-left: 4rem;
      line-height: 4.5rem;
      font-size: 2.4rem;
      font-family: $font-italic;
      font-style: italic;
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1.1rem;
        bottom: 6.1rem;
        width: 2.5px;
        opacity: .6;
        background-color: $color-border;
      }
      & span {
        font-size: 2.5rem;
        font-weight: bolder;
      }
    }
  }


  &__button-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-bottom: 15rem;

    & :not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__button--like-box {

  }
  &__button--like {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-bg;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    border: 1px solid $color-border;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba($color-text, .7);
    transition: background-color .2s;

    & svg {
      margin-right: .7rem;
      fill: $color-border;
      width: 18px;
      height: auto;
    }

    &:hover svg {
      fill: #EB5757;
    }
    &:hover {
      background-color: rgba($color-border, .2);
    }
    &:active {
      background-color: #F5B9BA;
      border: none;
      padding: 1.1rem 1.6rem;
    }

    &.active {
      background-color: #F5B9BA;
      border: none;
      padding: 1.1rem 1.6rem;
    }
    &.active svg {
      fill: #EB5757;
      animation: like 0.5s 1;
    }


    @-webkit-keyframes like {
      0%   { transform: scale(1); }
      90%   { transform: scale(1.2); }
      100% { transform: scale(1.1); }
    }

  }

  &__button--share-box {

  }
  &__button--share {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-bg;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    border: 1px solid $color-border;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba($color-text, .7);
    transition: background-color .2s;

    & svg {
      margin-right: .7rem;
      // fill: $color-border;
      width: 18px;
      height: auto;
    }

    &:hover {
      background-color: rgba($color-border, .2);
    }
  }
  &__button--bookmark-box {

  }
  &__button--bookmark {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-bg;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    border: 1px solid $color-border;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba($color-text, .7);
    transition: background-color .2s;

    & svg {
      margin-right: .7rem;
      // fill: $color-border;
      width: 18px;
      height: auto;
    }

    &:hover {
      background-color: rgba($color-border, .2);
    }
    
  }



  &__footer-box {
    grid-column: 1 / -1;
    // grid-row: 27 / span 2;

    border-top: 5px solid $color-text;
    color: $color-text;
    padding-bottom: 1rem;
    // margin-top: 15rem;
    margin-top: auto;

    background:
      radial-gradient(circle at 5px 5px,
        rgba(grey, .1) 1.7px,
        transparent 1.7px,
        transparent 10px) 0 0 / 8px 8px;
  }
  &__footer--wrapper {
    display: flex;
    align-items: center;
    margin-top: 15rem;
  }

  &__footer-title-box {

  }
  &__footer-title {
    font-family: $font-logo;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: -1px;
    word-spacing: -3px;
  }


  &__footer-content--wrapper {
    display: flex;
    margin-left: auto;
    margin-right: 10rem;
  }
  &__footer-content-box1 {
    margin-right: 30rem;

    @media only screen and (max-width: $breakpoint-medium) {
      margin-right: 10rem;
    }
  }
  &__footer-content-box2 {

  }
  &__footer-content {
    font-family: $font-subtitle;
    font-size: 1.5rem;

    & span {
      font-family: $font-italic;
      font-size: 1.7rem;
      font-style: italic;
    }
  }

}
